<footer class="color-set-footer text-sm" data-testid="footer">
  <div class="max-w-container grid grid-cols-6 gap-x-2.5 md:grid md:grid-cols-12 md:gap-x-4">
    <div class="col-span-full flex flex-col-reverse justify-between items-center lg:flex-row lg:h-15 pt-7 pb-4 md:pb-18 lg:py-0 lg:col-start-2 lg:col-span-10">
      <div class="flex flex-wrap grow lg:grow-0 justify-center">
        <div class="pt-5 px-3.5 lg:pt-0 lg:pl-0 lg:pr-6">
          <a
            class="text-footer-text font-normal"
            href="https://famillesuisse.ch/datenschutz"
            target="_blank"
            rel="noreferrer"
          >
            Datenschutz
          </a>
        </div>
        <div class="pt-5 px-3.5 lg:pt-0 lg:pl-0 lg:pr-6">
          <a
            class="text-footer-text font-normal"
            href="https://famillesuisse.ch/anb"
            target="_blank"
            rel="noreferrer"
          >
            AGB
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

