<header class="color-set-header text-sm">
  <div class="max-w-container grid grid-cols-6 gap-x-2.5 md:grid md:grid-cols-12 md:gap-x-4">
    <div class="col-span-full flex items-center justify-between lg:col-start-2 lg:col-span-10 py-5">
      <a href="/" aria-label="Home">
        <img src="/images/logo.webp" alt="online-kiosk" style="height:38px;width:auto" />
      </a>
      <div class="text-header-text">
        <a class="text-header-text" href="/">Home</a> &gt; <span><%= currentPage || '' %></span>
      </div>
    </div>
  </div>
</header>

