<!doctype html>
<html lang="de" class="h-full">
  <head>
    <%- include('_head') %>
    <title>familleSuisse Spezialangebot</title>
  </head>
  <body class="min-h-screen flex flex-col h-full">
    <%- include('_header', { currentPage: 'Spezialangebot' }) %>

    <%- include('_main_pixel.html') %>

    <%- include('_footer') %>
  </body>
</html>

